<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @student.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @student.lastname %>
</p>

<p>
  <b>Dateofbirth:</b>
  <%= @student.dateofbirth %>
</p>

<p>
  <b>Nationality:</b>
  <%= @student.nationality %>
</p>

<p>
  <b>Email:</b>
  <%= @student.email %>
</p>

<p>
  <b>Username:</b>
  <%= @student.username %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
