<p id="notice"><%= notice %></p>

<p>
  <b>Course:</b>
  <%= @schedule.course_id %>
</p>

<p>
  <b>Student:</b>
  <%= @schedule.student_id %>
</p>


<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
